Tests/
Plots to Show Profesor/
Plots to Show Profesor/
Plots to Show Profesor/
animations/
genelet_sender_receiver_fipy.py/
genelet_sender_receiver_surrogate.py/
surrogate_vs_fipy_benchmark.json/
surrogate_vs_fipy_benchmark.json/
simple_model_code/
Fipy_learning/
surrogate_vs_fipy_benchmark.json/
genelet_sender_receiver_surrogate.py/
genelet_sender_receiver_fipy.py/
